@import "tailwindcss";

*{
  cursor: pointer;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

@keyframes cardScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-cardScroll {
  animation: cardScroll 30s linear Scroll;
}


.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}